doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css")

        title Your first page
    body
        block operation
        block table

        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')
