extends layout.pug 

block content
    form(action="/login", method="post")
        label(for="username") Nazwa:
        input(type="text", name="username")
        br
        label(for="password") Hasło:
        input(type="password", name="password") 
        br
        input(type="submit", value="Zaloguj")